* {
    margin: 0;
    padding: 0;
    border: 0;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

b {
    font-size: inherit;
}

a {
    text-decoration: none;
}

body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    font-family: 'Gelasio'; /* , serif; */
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1140px;
    margin: 0px auto;
    padding: 0 15px;
    box-sizing: content-box; /* Сам прибавляет padding */
}

/*
._ibg {
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        object-fit: cover;
    }
}
 */

/* ----------------------------------- */

._button {
    a {
        display: flex;
        width: 134px;
        height: 54px;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: 'Gelasio';
        font-size: 16px;
        font-weight: 500;

        background: #1B75BB;
        border-radius: 5px;
        box-sizing: border-box;
        transition: all 0.5s;

        &:hover {
            background: white;
            border: 1px solid #1B75BB;
            color: #1B75BB;
        }
    }
}

._text-header {
    color: #1B75BB;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    line-height: 150%; 
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0.800000011920929;
}

@import 'main';