@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

b {
  font-size: inherit;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: "Gelasio"; /* , serif; */
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1140px;
  margin: 0px auto;
  padding: 0 15px;
  box-sizing: content-box; /* Сам прибавляет padding */
}

/*
._ibg {
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        object-fit: cover;
    }
}
 */
/* ----------------------------------- */
._button a {
  display: flex;
  width: 134px;
  height: 54px;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Gelasio";
  font-size: 16px;
  font-weight: 500;
  background: #1B75BB;
  border-radius: 5px;
}

._text-header {
  color: #1B75BB;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.8000000119;
}

/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 124px;
}
.header__logo {
  margin-right: 100px;
}
.header__menu {
  display: flex;
  flex: 0 1 850px;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.menu__item {
  list-style-type: none;
}
.menu__item a {
  color: #081F32;
  font-family: Gelasio;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

@media (max-width: 900px) {
  .header__logo {
    margin-right: 20px;
  }
}
@media (max-width: 760px) {
  .header__container {
    height: 82px;
    padding-left: 60px;
    align-items: start;
    padding-top: 14px;
  }
  .header__logo {
    margin-top: -6px;
  }
  .header__logo img {
    width: 120px;
  }
  .header__button {
    margin-left: 20px;
  }
  .header__button a {
    width: 112px;
    height: 54px;
  }
  .header__menu {
    flex: 0 1 540px;
  }
  .menu__list {
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0 1 375px;
    gap: 4px;
    align-items: start;
    padding-top: 8px;
  }
}
/* Burger */
.header__burger {
  display: none;
  position: absolute;
  top: 3px;
  left: 3px;
}

@media (max-width: 500px) {
  .header__burger {
    display: block;
  }
  .header__menu {
    display: none;
  }
}
@media (max-width: 320px) {
  .header__container {
    padding-left: 54px;
  }
  .header__logo {
    margin-top: 0;
  }
  .header__logo img {
    width: 100px;
  }
}
/* Main */
.main {
  position: relative;
  height: 690px;
}
.main__img {
  height: inherit;
  position: absolute;
  z-index: -1;
  width: 100%;
  overflow: hidden;
}
.main__img img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.main__container {
  padding-top: 214px;
}
.main__text {
  width: 500px;
  margin-top: 15px;
  color: #081F32;
  font-family: Gelasio;
  font-size: 57px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.main__text_blue {
  color: #1B75BB;
}
.main__about {
  width: 350px;
  margin-top: 25px;
  color: #081F32;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.6000000238;
}
.main__button {
  margin-top: 30px;
  width: 138px;
  height: 56px;
}

@media (max-width: 1600px) {
  .main__img img {
    position: absolute;
    left: -9%;
    top: 0;
    bottom: 0;
    width: 109%;
    height: 109%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
@media (max-width: 760px) {
  .main__container {
    padding-top: 212px;
    padding-left: 77px;
  }
  .main__about {
    margin-top: 0;
  }
  .main__button {
    position: absolute;
    top: 267px;
    right: 24px;
  }
  .main__img {
    width: 200%;
  }
  .main__img img {
    left: -43%;
  }
}
@media (max-width: 700px) {
  .main__button {
    top: 300px;
    right: auto;
    left: 400px;
  }
}
@media (max-width: 550px) {
  .main__container {
    padding-top: 94px;
    padding-left: 28px;
  }
  .main__text {
    width: 230px;
    font-size: 24px;
    margin-top: 6px;
  }
  .main__about {
    width: 157px;
    font-size: 11px;
    opacity: 0.6000000238;
  }
  .main__button {
    top: 132px;
    left: 232px;
  }
  .main__button a {
    width: 79px;
    height: 32px;
    font-size: 10px;
  }
}
@media (max-width: 550px) {
  .main {
    height: auto;
  }
  .main__img {
    height: 425px;
  }
  .main__img img {
    left: -55%;
  }
}
.main-footer__wrapper {
  margin-top: 50px;
  margin-left: -36px;
  padding: 0 49px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.21);
  -webkit-backdrop-filter: blur(35px);
          backdrop-filter: blur(35px);
  width: 687px;
  height: 110px;
}
.main-footer__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 425px;
}
.main-footer__item {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  box-sizing: border-box;
}
.main-footer__item:last-child::after {
  background: transparent;
}
.main-footer__item::after {
  display: block;
  content: "";
  width: 2px;
  height: 34px;
  opacity: 0.400000006;
  background: #9DACB8;
}
.main-footer__block {
  margin-right: 30px;
}
.main-footer__header {
  color: #081F32;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: 10px;
}
.main-footer__text {
  color: #081F32;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.8000000119;
}
.main-footer__button {
  margin-bottom: 5px;
}

@media (max-width: 1244px) {
  .main-footer__wrapper {
    margin-left: 0;
  }
}
@media (max-width: 760px) {
  .main-footer__wrapper {
    margin-top: 155px;
    margin-left: 5px;
    padding: 0 47px;
    width: 90.5vw;
  }
  .main-footer__items {
    margin-left: 8px;
  }
  .main-footer__item {
    margin-bottom: 0;
    margin-top: 10px;
  }
}
@media (max-width: 320px) {
  .main-footer__wrapper {
    margin-top: 145px;
    margin-left: 12px;
    width: 83.5vw;
    height: 40px;
    padding: 0;
  }
  .main-footer__header {
    margin-bottom: 3px;
  }
  .main-footer__header, .main-footer__text {
    font-size: 7px;
  }
  .main-footer__items {
    flex: 0 1 191px;
  }
  .main-footer__block {
    margin-right: 8px;
  }
  .main-footer__button {
    margin-bottom: 0;
    margin-right: 10px;
  }
  .main-footer__button a {
    width: 41.659px;
    height: 20.364px;
    font-size: 6px;
  }
}
/* Dream */
.dream__container {
  display: flex;
  padding-top: 201px;
  gap: 99px;
}
.dream__left img {
  margin-left: -105px;
}
.dream__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dream__text {
  margin-top: 15px;
  color: #081F32;
  font-family: Gelasio;
  font-size: 32px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.3px;
}
.dream__button {
  margin-top: 31px;
}

@media (max-width: 930px) {
  .dream__container {
    padding-top: 122px;
    gap: 21px;
  }
  .dream__left img {
    margin-left: 4px;
    width: 472px;
  }
  .dream__right {
    justify-content: start;
  }
  .dream__header {
    width: 140px;
    margin-top: 12px;
  }
  .dream__text {
    margin-top: 32px;
  }
}
@media (max-width: 750px) {
  .dream__left img {
    width: 350px;
  }
}
@media (max-width: 630px) {
  .dream__left img {
    width: 48vw;
  }
  .dream__header {
    font-size: 11px;
  }
  .dream__text {
    font-size: 16px;
  }
  .dream__button a {
    font-size: 12px;
    width: 100px;
    height: 40px;
  }
}
@media (max-width: 320px) {
  .dream__container {
    padding-top: 67px;
    gap: 13px;
  }
  .dream__left img {
    width: 56.5vw;
  }
  .dream__right {
    margin-top: -14px;
  }
  .dream__header {
    width: auto;
    font-size: 8px;
    font-weight: 500;
    letter-spacing: 0.8px;
  }
  .dream__text {
    width: 100px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
  }
  .dream__button {
    margin-top: 5px;
  }
  .dream__button a {
    font-size: 8px;
    width: 56px;
    height: 23px;
  }
}
/* Why */
.why {
  margin-top: 141px;
}
.why__header {
  text-align: center;
  color: #081F32;
  font-family: Gelasio;
  font-size: 32px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.4px;
}
.why__text {
  color: #081F32;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.6000000238;
}
.why__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.why__item {
  width: 262px;
  height: 258px;
  margin-top: 60px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 30px 0px rgba(199, 199, 199, 0.25);
}

.why-item__img {
  margin: 0 auto;
  margin-top: 20px;
  width: 74px;
  height: 74px;
}
.why-item__header {
  margin-top: 37px;
  color: #081F32;
  text-align: center;
  font-family: Gelasio;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.3px;
}
.why-item__text {
  margin: 0 auto;
  margin-top: 15px;
  width: 230px;
  color: #081F32;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.6000000238;
}

@media (max-width: 1100px) {
  .why__items {
    justify-content: space-around;
  }
}
@media (max-width: 760px) {
  .why {
    margin-top: 82px;
  }
  .why__header {
    margin-left: 10px;
  }
  .why__text {
    margin-top: 30px;
    padding-left: 27px;
    width: 540px;
  }
  .why__items {
    margin-top: 8px;
    padding: 0;
    min-height: 683px;
    margin-left: -19px;
    margin-right: -20px;
  }
  .why-item__img {
    margin-top: 41px;
    width: 98px;
  }
  .why-item__img img {
    width: 100%;
  }
  .why-item__header {
    margin-top: 40px;
  }
  .why-item__text {
    margin-top: 10px;
    width: 180px;
    font-size: 12px;
    font-weight: 400;
  }
}
@media (max-width: 320px) {
  .why {
    margin-top: 118px;
  }
  .why__header {
    font-size: 20px;
    font-weight: 500;
  }
  .why__text {
    margin-top: 0;
    width: auto;
    padding-left: 0;
    font-size: 12px;
    font-weight: 400;
  }
  .why__items {
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    min-height: 651px;
  }
  .why__item {
    margin-top: 0;
  }
  .why-item {
    width: 132px;
    height: 129px;
  }
  .why-item__img {
    width: 49px;
    height: auto;
    margin-top: 25px;
  }
  .why-item__header {
    margin-top: 16px;
    font-size: 12px;
    font-weight: 500;
  }
  .why-item__text {
    margin-top: 0;
    font-size: 6px;
    font-weight: 400;
    width: 95px;
  }
}
/* About */
.about {
  margin-top: 138px;
}
.about__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.about__item {
  width: 555px;
  height: 337px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.about__img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.about__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.about-main__header {
  margin-top: 48px;
  color: #081F32;
  font-family: Gelasio;
  font-size: 32px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.35px;
}
.about-main__text {
  margin-top: 25px;
  color: #081F32;
  width: 450px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}
.about-main__button {
  margin-top: 30px;
}

.about-caption {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 231px;
  height: 126px;
  border-radius: 10px;
  background: rgba(226, 226, 226, 0.4);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 24px 28px 25px 27px;
  box-sizing: border-box;
}
.about-caption__text {
  display: flex;
  justify-content: space-between;
}
.about-caption__left {
  color: #081F32;
  font-size: 18px;
  font-family: Gelasio;
  font-weight: 500;
  line-height: 150%;
}
.about-caption__right {
  color: #081F32;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%; /* 22.4px */
}
.about-caption__right span {
  opacity: 0.8000000119;
  color: #081F32;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
}
.about-caption__button {
  margin-top: 10px;
}
.about-caption__button a {
  width: 105px;
  height: 41px;
  font-size: 14px;
}

@media (max-width: 1170px) {
  .about__items {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 760px) {
  .about {
    margin-top: 189px;
  }
  .about__items {
    gap: 0;
    width: 200%;
    height: 1450px;
    overflow: hidden;
  }
  .about-caption {
    padding-top: 10px;
    padding-bottom: 0;
  }
}/*# sourceMappingURL=style.css.map */